
@import url('https://fonts.googleapis.com/css2?family=Aldrich&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
    font-family: 'Chakra-Petch-Medium';
    src:url('fonts/Chakra-Petch-Medium.ttf.woff') format('woff'),
        url('fonts/Chakra-Petch-Medium.ttf.svg#Chakra-Petch-Medium') format('svg'),
        url('fonts/Chakra-Petch-Medium.ttf.eot'),
        url('fonts/Chakra-Petch-Medium.ttf.eot?#iefix') format('embedded-opentype'); 
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #222;
    color: #fcb420;
    margin: 10px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    position: relative;
}

#title {
    text-align: center;
    margin-top: 0;
    margin-bottom: 16px;
    padding-top: 20px; /* Adjust padding as needed */
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.title h1 {
    font-family: "Aldrich", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 50rem !important; /* Adjusted font size */
    margin-bottom: 16px;
}
h1 {
    font-family: 'Chakra-Petch-Medium';
    font-weight: 800;
    font-style: normal;
    font-size: 2rem;
    margin: 0; 
    padding: 0;
}

#go-to-brawlers {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 600px;
}

/* #go-to-brawlers {
    background-color:gray;
    border: gray 1px solid;
    border-radius: 3px;
    padding-bottom: 40px;
    padding-top: 40px;
    padding-left: 150px;
    padding-right: 150px;
    bottom: 0;
    left: 10vh;
    transform: translatey(20vh);
} */

#go-to-brawlers {
    text-align: center;
    align-items: center;
    align-content: center;
    justify-content: center;
    display: flex;

    background-color: gray;
    border: gray 1px solid;
    border-radius: 3px;
    padding-bottom: 40px;
    padding-top: 40px;
    padding-left: 150px;
    padding-right: 150px;
    margin-top: 100px; /* Set margin to 16px to position below #title */
    position: absolute; /* Changed to relative */
    left: 50%;
    transform: translate(-50%, 50%); /* Center horizontally */
}

#go-to-brawlers h1{
    width: fit-content;
    height: fit-content;
    margin: 0 auto;
}