@import url('https://fonts.googleapis.com/css2?family=Aldrich&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
    font-family: 'Chakra-Petch-Medium';
    src: url('fonts/Chakra-Petch-Medium.ttf.woff') format('woff'),
         url('fonts/Chakra-Petch-Medium.ttf.svg#Chakra-Petch-Medium') format('svg'),
         url('fonts/Chakra-Petch-Medium.ttf.eot'),
         url('fonts/Chakra-Petch-Medium.ttf.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

html {
    scroll-behavior: smooth; /* Enable smooth scrolling */
}

body {
    background-color: #222;
    color: #fcb420;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: 200vh; /* Ensure enough height for scrolling */
    width: 100%; /* Ensure body takes full width */
}

#title {
    text-align: center;
    margin-top: 0;
    margin-bottom: 16px;
    padding-top: 20px; /* Adjust padding as needed */
    width: 100%; /* Ensure title takes full width */
}

#title h1 {
    font-family: "Aldrich", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 5rem !important; /* Adjusted font size */
    margin-bottom: 16px;
}

#go-to-brawlers {
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: gray;
    border: gray 1px solid;
    border-radius: 3px;
    padding: 40px 150px;
    margin-top: 16px;
    width: 100%; /* Ensure go-to-brawlers takes full width */
}

#go-to-brawlers h1 {
    width: fit-content;
    height: fit-content;
    margin: 0 auto;
}

#go-to-brawlers h1 a {
    text-decoration: none;
    color: #fcb420;
}

.add {
    border: 1px solid #fcb420;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 300px; /* Ensure it is below #go-to-brawlers */
    width: 100%; /* Ensure add takes full width */
    display: flex;
    flex-direction: column;
    height: 50vh; /* Ensure it takes full height */
    justify-content: center; /* Center vertically */
}

.add h1 {
    width: fit-content;
    height: fit-content;
    margin: 0 auto;
}

#brawler {
    width: 100%; /* Ensure brawler takes full width */
    margin-top: 100vh; /* Push to the bottom */
    padding: 20px;
    text-align: center;
    background-color: #333;
}

#brawler h1 {
    font-size: 2rem;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none; /* Remove underline from all hyperlinks */
    color: #fcb420; /* Set the color of the hyperlink text */
}

section {
    width: 100%;
}

div {
    width: 100%;
}